{% extends 'base.html.twig' %}

{% block title %}Création de compte utilisateur {% endblock %}
{% block titrePage %}Gestion des utilisateurs{% endblock %}
{% block cardHeader %} {{ block ('title')}} {% endblock %}
{% block body %}
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.rolePrincipal) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
