{% extends 'base.html.twig' %}

{% block title %} Ecole {% endblock %}
{% block titrePage %}Gestion des infos ecoles {% endblock %}
{% block cardHeader %} {{ block ('title')}} {% endblock %}
{% block body %}
        <table class="table table-hover table-striped  table-bordered" id="dataTable" width="100%" cellspacing="0">        <thead>
        <thead>
            <tr>
                <th>#</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entreprise in entreprises %}
            <tr>
                <td>{{ entreprise.id }}</td>
                <td>
                    <a href="{{ path('app_entreprise_show', {'id': entreprise.id}) }}">show</a>
                    <a href="{{ path('app_entreprise_edit', {'id': entreprise.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_entreprise_new') }}">Create new</a>
{% endblock %}
