{% extends 'base.html.twig' %}

{% block title %}Liste des perceptions {% endblock %}
{% block titrePage %}Gestion des frais {% endblock %}
{% block cardHeader %} {{ block ('title')}} {% endblock %}
{% block body %}
        <table class="table table-hover table-striped  table-bordered" id="dataTable" width="100%" cellspacing="0">        <thead>
        <thead>
            <tr>
                <th>#</th>
                <th>Frais </th>
                <th>Etudiant </th>
                <th>Matricule </th>
                <th>Date Paiement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paiement in paiements %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ paiement.frais}}</td>
                <td>{{ paiement.etudiantAnneeAcademique}}</td>
                <td>{{ paiement.etudiantAnneeAcademique ? paiement.etudiantAnneeAcademique.matricule : ''}}</td>
                <td>{{ paiement.datePaiement ? paiement.datePaiement|format_date('long') : '' }}</td>
                <td>
                    <a href="{{ path('app_paiement_show', {'id': paiement.id}) }}">show</a>
                    <a href="{{ path('app_paiement_edit', {'id': paiement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_paiement_new') }}">Create new</a> #}
{% endblock %}
