{% extends 'base.html.twig' %}

{% block title %}{{paiement}}{% endblock %}
{% block titrePage %}Gestion des frais {% endblock %}
{% block cardHeader %} {{ block ('title')}} {% endblock %}
{% block body %}
<h4>Recu No {{paiement.id}}</h4>
<hr />
<p>
{{paiement.etudiantAnneeAcademique ? paiement.etudiantAnneeAcademique.genre : '' }} <b>{{paiement.etudiantAnneeAcademique|upper}} </b> régulièrement inscrit 
en <b> {{paiement.etudiantAnneeAcademique ? paiement.etudiantAnneeAcademique.promotionActuelle : '' }} </b>  est en ordre avec les frais <b> {{paiement.frais}} </b>
pour un montant de <b> {{paiement.frais.montant}} </b>.
</p>



{#     

    <a href="{{ path('app_paiement_index') }}">retour à la liste </a>

    <a href="{{ path('app_paiement_edit', {'id': paiement.id}) }}">edit</a>

    {{ include('paiement/_delete_form.html.twig') }} #}
{% endblock %}
